:root {
  --maincolor: #ffbab3;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
}

body {
  font-family: "Poppins", "Muli", "Helvetica", "Arial", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif, "Helvetica", "Arial";
  letter-spacing: 1px;
  font-weight: bold !important;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.link a {
  text-decoration: none;
}

.footer {
  margin-top: 25px;
}

.footerlinks a {
  font-size: 15px !important;
}

.bullet-text {
  display: flex;
  line-height: 2em;
  font-size: 14px !important;
  text-align: left;
}

.bullet-section {
  display: inline;
  font-size: medium;
}

.icon {
  margin-right: 0.5em;
}

#bg {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#bgd {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#bgdash {
  position: absolute;
  top: 0;
  width: 100%;
}

#bgu {
  position: fixed;
  top: 0;
  width: 100%;
}

#bgubio {
  position: relative;
  top: -40px;
  width: 100%;
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 50px;
  font-weight: 500;
  color: rgb(47, 46, 46);
  background: rgba(255, 255, 255, 0);
}

header.masthead .header-content {
  max-width: 90%;
  margin-bottom: 30px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

@media (min-width: 1544px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 70% !important;
  }
}

@media (min-width: 768px) {
  .bullet-text {
    font-size: large !important;
  }
  .form {
    padding: 20px 1em 40px 1em;
  }
}

@media (min-width: 600px) {
  .bullet-text {
    font-size: 16px !important;
  }
}

@media (min-width: 600px) {
  .bullet-text {
    font-size: 16px !important;
  }
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 90vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }

  .qSection {
    margin: 10px;
  }
}

.comment input {
  margin-left: 0.5em;
  margin-right: auto;
  outline: none;
  background-color: rgba(255, 127, 80, 0.05);
  outline-style: none;
  border-top: none;
  width: auto;
  border-radius: 5px;
  border-left: none;
  border-right: none;
  border-bottom: solid coral 2px;
  padding: 3px 10px;
}

@media (min-width: 768px) {
  .comment input {
    margin-left: 1em;
    margin-right: auto;
    outline: none;
    background-color: rgba(255, 127, 80, 0.05);
    outline-style: none;
    border-top: none;
    width: 50%;
    border-radius: 5px;
    border-left: none;
    border-right: none;
    border-bottom: solid coral 2px;
    padding: 3px 10px;
  }
}

.comment {
  margin-top: 5px;
  margin-bottom: 2em;
  margin-left: 6px;
  margin-right: 6px;
  display: grid;
}

.thank {
  background-color: #e9ecef;
}

.userdetail {
  text-align: center;
  display: block !important;
}

.userdetail p {
  margin-left: 10px;
  margin-bottom: 5px;
}

.qblockQ {
  margin-bottom: 2em;
}

.qblockQ h2 {
  font-weight: 600 !important;
  font-size: 25px;
}

.qblockQ h4 {
  font-size: 18px;
}

@media (min-width: 768px) {
  .qblockQ h2 {
    font-weight: 600 !important;
    font-size: 32px !important;
  }
}

@media (min-width: 480px) {
  .qblockQ h2 {
    font-weight: 600 !important;
    font-size: 28px;
  }
  .qblockQ h4 {
    font-size: 22px;
  }
}

.info {
  font-size: 22px;
  color: #383838;
  font-weight: 500 !important;
}

.info-choose {
  font-size: medium;
  color: #383838;
  font-weight: 450 !important;
  margin-top: 30px;
}

/* Dashboard  */

.RegBox {
  margin-top: 2.5em;
  text-align: center;
  background-color: #ffeeee;
  /* background-color: var(--maincolor); */
  /* padding: 40px 15px 40px 15px; */
  box-shadow: 5px 5px 20px rgba(39, 39, 39, 0.12);
  border-radius: 10px;
}

.form {
  display: block;
  padding: 0 0 40px 0;
  max-width: 70%;
  margin-top: 2.5em;
}

@media (min-width: 768px) {
  .form {
    padding: 20px 1em 40px 1em !important;
  }
}

.fixnow {
  margin-top: 40px;
}

.Title h3 {
  color: #ffffff;
}

.Title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 40px 15px 20px 15px;
  background-color: #ff4f5a;
}

.group-input {
  margin-bottom: 25px;
}

.group-input label {
  display: block;
  text-align: left;
  font-size: 18px;
  color: #252525;
  margin-bottom: 13px;
}

.group-input input {
  border: 1px solid #ebebeb;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 5px;
}

.group-input input:focus {
  outline: none !important;
  background-color: rgba(255, 232, 211, 0.75);
  box-shadow: 2px 1px 7px rgba(39, 39, 39, 0.25);
}

.dashboard {
  text-align: center;
  margin-top: 3em;
}

.dashboard h2 {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.photo img {
  width: fit-content;
}

.mainQ {
  display: inline-block;
  margin-bottom: 3em;
}

.qSection {
  display: inline-grid;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(39, 39, 39, 0.12);
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.qSection h4 {
  font-size: medium;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.icon {
  margin-right: 5px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc !important;
  color: #666666 !important;
}

.answers {
  display: flex;
  margin-left: 10px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.questionBlock {
  padding: 25px;
  background-color: rgba(255, 127, 80, 0.301);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* display: inline; */
}
.questionBlock2 {
  padding: 10px !important;
  background-color: #FF4F5A;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* display: inline; */
}

.modal-90w {
  max-width: 80%;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
  max-width: none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  max-width: max-content; /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

.answerBlock {
  font-size: 4px;
  padding: 10px;
  text-align: left;
  margin-top: 3em;
  margin-bottom: 5px;
  /* display: inline; */
}

.bigfix {
  margin: 3.5em 0em 6em 0em;
}

/* Dashbord Details */

.thirtyBlock {
  /* box-shadow: 5px 0px 12px rgba(39, 39, 39, 0.5); */
  width: max-content;
  background-color: #ffd8ca;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 5px 20px 5px 20px;
  margin-bottom: 30px !important;
  margin-top: 50px;
}

@media (min-width: 450px) {
  .thirtyBlock {
    width: max-content;
    background-color: #ffd8ca;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px 50px 5px 50px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.detailfl {
  font-size: 30px;
  font-weight: 450;
  margin-top: -15px;
  color: #383838;
}

.detailll {
  font-size: 25px;
  font-weight: 450;
  margin-top: 15px;
  color: #383838;
  margin-bottom: -15px;
}

.thirty {
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 5px !important;
  font-weight: 500;
}

.freefix {
  margin-bottom: 15px !important;
  display: flex !important;
  margin-top: 10px !important;
}

.price {
  font-size: 27px;
  display: inline-flex;
}
.price p {
  font-size: 27px;
  text-decoration: line-through;
}

.freepricingTitle {
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Poppins";
  font-size: 2.2em;
  font-weight: 600 !important;
}

.freepricingTitle a:hover {
  color: #1abc9c;
}

.pricingTitle {
  margin-top: 2em;
  margin-bottom: 2.6em;
  font-family: "Poppins";
  font-size: 2.2em;
  font-weight: 600 !important;
}

.free {
  text-decoration: none !important;
  font-weight: 600;
  font-size: 30px !important;
  color: #1abc9c;
}

.expSection {
  margin-top: 4em;
  margin-bottom: 4em;
}

.expSection ul {
  margin-top: 1.7em;
}

.expSection h5 {
  font-size: large !important;
  font-weight: 600 !important;
  margin: 1em 0em 0.5em 0em;
  color: #505050;
}

.photo img {
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(39, 39, 39, 0.12);
}

.photo p {
  font-size: 17px;
  font-weight: 400;
  padding: 2px;
}

.photo-hover {
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 15px;
}

.photo-hover img {
  transition: transform 0.5s ease;
}

.photo-hover:hover img {
  transform: scale(1.1);
}

/* Pricing Modal */

.mainPricing {
  padding: 15px;
  padding-bottom: 200px;
}

.pricingBlock {
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 5px 5px 20px rgba(39, 39, 39, 0.12);
  padding: 0;
  margin: 5px;
  background-color: #ffffff;
}

.select {
  text-align: center;
}

.priceBody {
  text-align: left;
  display: block;
  margin-left: 10px;
  margin-top: 20px;
}

.priceBody p {
  margin-left: 10px;
  font-size: 15px;
}

.priceBlock {
  text-align: center !important;
  margin-top: 1.5em;
  margin-bottom: 2em;
  margin-left: 0 !important;
}

.priceName {
  padding: 10px;
}

.priceName p {
  font-size: 15px;
  margin-bottom: 1px;
  color: white;
}

.Pricevalue {
  font-size: 45px !important;
  font-weight: 600 !important;
}

.priceType {
  font-size: 40px !important;
  font-weight: 500 !important;
}

.select p {
  margin: auto;
}

.pBody {
  padding: 15px;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #fdcc52;
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  border-radius: 300px;
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}


/* admin dashboard */
.databox {
  text-align: center;
  background-color: #E9E9E9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 11px -8px rgb(0 0 0 / 47%);
  box-shadow: 1px 1px 11px -8px rgb(0 0 0 / 47%);
}

/* apex chart styles pie chart */
.apexcharts-canvas {
  text-align: left;
}

/* Modal styles */
.modal-content{
  width:-webkit-fill-available;
  max-width: unset;
}

.modalqsection{
  padding: 0px 4em 0px 4em;
}

.modal-title h4{
  margin-left: auto;
}

/* Admin dashboard table */
#dataTable{
  text-align: center;
}

#dataTable thead{
  background-color: #FF4F5A;
    color: #fff;
}